.container {
	width: 940px !important;
	margin-left: auto;
	margin-right: auto;
}

.navigation-bar a.brand {
	width: 400px;
	height: 90px !important;
	background-image: url(/statics/img/logo.png);
	background-size: 400px 90px;
	background-repeat: no-repeat;
	text-indent: -999999em;
}

h2 {
	padding: 20px !important;
	margin: 0 !important;
}

h3 {
	padding: 20px !important;
	margin: 0 !important;
	margin-left: -20px !important;
}

.section {
	padding: 20px;
}

.content {
	margin: 20px 0 0 0;
}

.girllink {
	overflow: hidden;
	margin-right: -20px;
}

.girllink a {
	padding: 10px 80px;
}

.footer p {
	padding-top: 10px;
}

.mgstage img {
	display: block;
	max-width: 900px;
	margin: 0 auto;
}

.mgstage:hover img {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: “alpha( opacity=80 )”;
}
