.container {
	width: 940px !important;
	margin-left: auto;
	margin-right: auto;
}

.navigation-bar a.brand {
	width: 400px;
	height: 90px !important;
	background-image: url(/statics/img/logo.png);
	background-size: 400px 90px;
	background-repeat: no-repeat;
	text-indent: -999999em;
}

.section {
	padding: 0 20px;
}

h2 {
	margin: 0 !important;
	padding: 20px !important;
	vertical-align: middle;
}

h3 {
	margin: 20px 0 20px -20px !important;
	padding: 20px !important;
}

.girllink {
	margin: 0 -20px 20px 0;
	padding: 10px 60px;
}

.banner {
	text-align: center;
	margin: 20px auto;
}

.footer p {
	padding-top: 10px;
}

.mgstage img {
	max-width: 740px;
	margin: 20px 0;
}

.mgstage:hover img {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: “alpha( opacity=80 )”;
}